@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

/* global */
* {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  color: #222;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Pretendard', sans-serif;
}

p,
span {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 14px;
  color: #5c5c5c;
}

body {
  background: #f5f6f8;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}


.top-banner {
  background: #72b042;
  height: 24px;
  line-height: 24px;
  text-align: center;
  font-size: 12px;
}
.wrapper {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 20px;
}

/* aside */
.pos-rel {
  position: relative;
  width: 240px;
}
.aside {
  position: fixed;
  margin: 2%;
}

.logo {
  width: 100%;
  display: flex;
  justify-content: center;
}

.logo a {
  display: inline-block;
  padding: 24px;
  margin-left: 16px;
}

.snb li {
  border-bottom: 1px solid #ddd;
}

.snb li:last-of-type {
  border-bottom: none;
}

.snb li a {
  display: block;
  width: 100%;
  padding: 12px 0;
  font-family: 'Pretendard', sans-serif;
  font-weight: 600;
  font-size: 20px;
}

.snb li>a::after {
  content: '';
  display: inline-block;
  float: right;
  margin-top: 8px;
  border-right: 4px solid #888;
  /* border-top: 3px solid #ddd;
  border-left: 3px solid #ddd; */
  border-bottom: 4px solid #888d;
  width: 6px;
  height: 6px;
  transform: rotate(45deg);
  transform-origin: center;
  transition: 0.35s;
}

.snb li:first-of-type>a::after {
  border: none;
}

/* hover */
.snb li:hover>a {
  color: #72b042;
}
.snb li:hover>a::after {
  transform: rotate(225deg);
  border-color: #72b042;
}
.snb .sub-menu a:hover {
  color: #72b042;
}
/* hover */

.snb .sub-menu {
  display: none;
}

.snb .sub-menu a {
  font-size: 16px;
  font-weight: 400;
  margin-left: 12px;
}

.ads {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  align-items: flex-end;
}
.ads a {
  display: block;
}
.ads img {
  max-width: 240px;
}


/* container */
.container {
  width: calc(90% - 240px);
}

.swiper .ovrflw {
  overflow: hidden;
  height: 18vw;
  min-height: 192px;
  border-radius: 11px;
  cursor: pointer;
  position: relative;
}

/* hover */
.swiper .ovrflw:hover .image {
  transform: scale(1.05);
}

.swiper .ovrflw:hover .image::after {
  opacity: 0.7;
}

.swiper .ovrflw:hover .text {
  transform: translateY(-6px);
}

/* hover */

.swiper .image {
  width: 100%;
  height: 100%;
  position: absolute;
  transition: 0.2s;
}

.swiper .swiper-slide:nth-child(1) .image {
  background: url(images/top1.jpg);
  background-size: cover;
}

.swiper .swiper-slide:nth-child(2) .image {
  background: url(images/top2.jpg);
  background-size: cover;
}

.swiper .swiper-slide:nth-child(3) .image {
  background: url(images/top3.jpg);
  background-size: cover;
}

.swiper .swiper-slide:nth-child(4) .image {
  background: url(images/top4.jpg);
  background-size: cover;
}

.swiper .swiper-slide:nth-child(5) .image {
  background: url(images/top5.jpg);
  background-size: cover;
}

.swiper .swiper-slide:nth-child(6) .image {
  background: url(images/top6.jpg);
  background-size: cover;
}
.swiper .swiper-slide:nth-child(7) .image {
  background: url(images/top7.jpg);
  background-size: cover;
}
.swiper .swiper-slide:nth-child(8) .image {
  background: url(images/top8.jpg);
  background-size: cover;
}
.swiper .swiper-slide:nth-child(9) .image {
  background: url(images/top9.jpg);
  background-size: cover;
}
.swiper .swiper-slide:nth-child(10) .image {
  background: url(images/top10.jpg);
  background-size: cover;
}

.swiper .image::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 0) 70%);
  opacity: 0.5;
  transition: opacity 0.2s;
}

.swiper .text {
  width: calc(100%-44px);
  position: absolute;
  bottom: 20px;
  left: 12px;
  z-index: 2;
  transition: 0.35s;
}

.swiper .text h3 {
  color: white;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.swiper .text p {
  margin-top: 8px;
  color: #ccc;
  font-size: 12px;
}


.sort-bar {
  margin: 12px 0 40px;
}
.search input {
  min-width: 250px;
  width: 24vw;
  margin: 32px 0;
  padding: 8px 16px;
  border-radius: 17px;
  outline: none;
  border: 1px solid #aaa;
}
.search input:focus::placeholder {
  color: transparent;
}
.search button {
  background: #72b042;
  color: white;
  border: none;
  padding: 10px 12px;
  border-radius: 13px;
  cursor: pointer;
}
.search button:hover,
.search button:focus {
  background: #619e32;
}

.grid {
  display: grid;
  grid-gap: 32px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: 2px;
}

.grid .item {
  /* height: fit-content; */
  display: inline-block;
  background: #fff;
  border-radius: 11px;
  overflow: hidden;
  box-shadow: 0 0 16px 8px #e5e6e8;
  transition: 0.2s;
}

/* hover */
.grid .item:hover {
  transform: translateY(-16px);
  box-shadow: 0 8px 16px 8px #e5e6e8;
}

.grid .item:hover .text h3 {
  color: #72b042;
}

.grid .item:hover .text p {
  color: #868686;
}

/* hover */

.grid .item img {
  width: 100%;
}

.grid .item .text {
  padding: 16px 24px;
  line-height: 1.6em;
}

.grid .item .text h3 {
  padding: 20px 0;
  transition: 0.3s;
}

.grid .item .text p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: 0.3s;
}

.grid .author {
  display: flex;
  align-items: center;
  margin-top: 16px;
  margin-left: -8px;
}

.grid .author .pfp img {
  width: 36px;
}

.grid .author span {
  margin-bottom: 6px;
}

.grid .tags {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  gap: 8px;
}

.grid .tags>div>div {
  background: rgb(151, 151, 151);
  color: white;
  display: inline-block;
  border-radius: 5px;
  padding: 2px 6px;
  padding-top: 0;
}

.grid .tags>div>div:hover {
  background: #72b042;
  ;
}

.grid .tags span {
  color: white;
  font-size: 12px;
}