@media (max-width: 648px) {
    .login-box {
        flex-direction: column;
        width: 100%;
        
    }
    .left, .right {
        width: 100%;
        border-radius: 0 0 23px 23px;
    }
}