

/* CONTAINER 2 (SWIPER) */
.main-slide {
    margin: 0; padding: 0;
    width: 100%; 
}
.swiper {
    width: 100%;
}
.swiper-slide {
    background-position: center;
    background-size: cover;
}
.swiper-slide img {
    display: block;
    width: 100%;
}
/* END */

/* CONTAINER 3 (INTRO) */
.intro {
    display: flex;
    height: auto;
    min-height: 420px;
    /* border: 3px solid red; */
}
.intro .block-img {
    display: flex;
    flex: 3 1 auto;
    height: 480px;
    background-image: url(../images/straw-tumbler-pastel-edit-1920.jpg);
    background-size: cover;
    background-position: right;
}
.intro .block-img img {
    object-fit: cover;
}
.intro .block-txt-btn {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
    margin: 100px 20px;
    /* border: 2px solid green; */
}   
.intro h2 {
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    font-size: 48px;
    color: #5b4f4f;
}

.intro .block-txt-btn p {
    font-family: 'Pretendard-Light', sans-serif;
    font-size: 1.2rem;
    line-height: 1.8rem;
    color: #888;
    margin: 12px 0 20px;
}
.btn-shop-now {
    display: block;
    width: 240px; height: 52px; line-height: 52px;
    text-align: center;
    background: #5b4f4f;
    border: 1px solid transparent;
    color: #eee;
    border-radius: 27px;
}
.btn-shop-now:hover {
    border: 1px solid #5b4f4f;
    background: #3d3030;
}


/* CONTAINER 4 (SUB-SLIDE) */
.sub-slide .center {
    display: flex;
    justify-content: center;
    background: #fff;
}
.sub-slide .center .slide {
    display: flex;
    justify-content: space-between;
    width: 1300px; 
    height: 100%;
    min-height: 360px;
    padding: 180px 20px 0;
}
.sub-slide .block-txt-btn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    /* border: 2px solid red; */
}
.sub-slide h2 {
    font-family: 'Pretendard-Bold';
    font-size: 36px;
}
.sub-slide p {
    font-family: 'Pretendard-Light';
    color: #888;
    font-size: 1.1rem;
    line-height: 1.8rem;
}
.sub-slide .image {
    width: 40%; 
    height: 100%;
    max-height: 422px;
}

.sub-slide .btn-shop-now {
    margin-bottom: 80px;
}
/* END */


/* CONTAINER 5 (DISNEY) */
.disney {
    width: 100%; height: 100%;
    position: relative;
    overflow: hidden;
}
.disney .bg {
    position: absolute;
    z-index: -1;
}
.disney .inner {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 40%;
}
.disney .collab-logo {
    display: flex;
    align-items: center;
    width: fit-content;
}
.disney .collab-logo img {
    height: 64px;
    transform: translateY(4px);
}
.disney .collab-logo span {
    color: #fff;
    font-family: 'Pretendard-Bold', sans-serif;
    font-size: 48px;
    margin: 0 12px;
}
.disney .collab-logo span.waltograph {
    font-family: 'WaltographRegular';
    font-weight: normal;
    font-style: normal;
    font-size: 72px;
    color: #fff;
}
.disney .inner p {
    font-family: 'Pretendard-Semibold', sans-serif;
    text-align: center;
    color: #fff;
}
.disney .mySwiper2 {
    position: absolute;
    bottom: 16%;
    overflow: visible;
}
.disney .mySwiper2 .swiper-wrapper {
    min-width: 1290px;
}
.disney .mySwiper2 .swiper-slide {
    min-width: 300px;
}
.disney .mySwiper2 img {
    -webkit-box-shadow: 0px 50px 50px -30px rgba(36,26,9,0.63); 
    box-shadow: 0px 50px 50px -30px rgba(36,26,9,0.63);
    min-width: 300px;
}
/* END */


/* CONTAINER 6 (ELECTRONICS) */
.electronics {
    margin-bottom: 100px;
}
.electronics .txt-box {
    text-align: center;
    margin: 80px auto;
}
.electronics .txt-box span {
    font-family: 'Noto Sans KR', sans-serif;
    color: #d69a70;
}
.electronics .txt-box h3 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 32px;
    color: #5b4f4f;
    margin: 0 16px;
}
.electronics .txt-box p {
    font-family: 'Pretendard-Light', sans-serif;
    color: #888;
    line-height: 1.8rem;
    margin-top: 28px;
}

.electronics .img-box {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 70%;
}
.electronics .img-box a {
    width: 70%;
}
.electronics .img-box img {
    width: 100%;
}

.electronics .img-box .txt-bg-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: flex-end;
    width: 30%;
    max-width: 334px; height: 364px;
    background: #7a0026;
    color: #fff;
    padding: 40px 32px 80px;
    box-sizing: border-box;
}
.electronics .img-box .txt-bg-box:hover {
    background: #9b0736;
}
.electronics .img-box .txt-bg-box h4 {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
    font-size: 24px;
}
.electronics .img-box .txt-bg-box span {
    font-weight: 700;
}
/* END */


 /* CONTAINER 7 (SHOP) */
.shop>.bg{
    background: url(../images/mosh-product-display-cropped.jpg) #46372d86;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
    height: 668px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.shop .center {
    text-align: center;
}
.shop .center h2 {
    font-family: 'Playfair Display', sans-serif;
    font-weight: 700;
    font-size: 68px;
    color: #fff;
}
.shop .center p {
    font-family: 'Pretrendard-Regular';
    color: #fff;
    margin: 40px 0;
}
.shop .center a {
    color: #fff;
    border: 1px solid #fff;
}
.shop .center a:hover {
    color: #5b4f4f;
    background: #fff;
}
/* END */


/* CONTAINER 8 (LOOK BOOK) */
.lookbook {
    background: #fff;
    padding-top: 20px;
}
.lookbook h2 {
    font-family: 'Playfair Display';
    font-weight: 900;
    font-size: 72px;
    text-align: center;
    margin-top: 120px;
}
.lookbook h2 a {
    color: #3d3030;
}
.lookbook h2 a:hover {
    color: #5b4f4f;
}
.lookbook .insta-img {
    width: 100%;
    margin: 0 auto 80px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}
.lookbook .insta-img img {
    max-width: 480px;
    box-sizing: border-box;
    transition: 0.5s;
}
.lookbook .insta-img a {
    display: inline-block;
    margin: 4px;
    width: fit-content; 
    aspect-ratio: 1/1;
    overflow: hidden;
}
.lookbook .insta-bar {
    height: 40px;
    background: rgba(51, 51, 51, 0.774);
    color: #fff;
    transition: 0.3s;
}
.lookbook .insta-bar i {
    float: left;
    display: inline-block;
    margin: 10px 10px;
}   
.lookbook .insta-bar .fa-bookmark-o {
    float: right;
}
.lookbook .insta-img a:hover .insta-bar {
    transform: translateY(-44px);
}
.lookbook .insta-img a:hover img {
    transform: scale(1.1);
}
/* END */


